decorator==4.0.6
greenlet==0.4.9
http-parser==0.8.3
ipdb==0.8.1
ipython==4.1.1
ipython-genutils==0.1.0
motor==0.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
py==1.4.31
pymongo==2.8
pytest==2.8.7
pytest-asyncio==0.3.0
pytest-ipdb==0.1.dev2
repoze.lru==0.6
requests==2.9.1
Routes==2.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
wheel==0.24.0
